[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pompa-pkg-bloniaq = {editable = true, path = "."}
pytest = "*"
numpy = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.7"
