[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.3"
pygubu = "==0.9.8.2"
matplotlib = "*"
pytest = "*"
py = ">=1.10.0"

[dev-packages]

[requires]
python_version = "3.6"
